:global(.product-details-gallery-area) {
  margin-bottom: 60px;
}

:global(.product-large-image-horaizontal),
:global(.product-large-image-vertical) {
  overflow: hidden;
  border: 1px solid #eee;
}

:global(.product-large-image-horaizontal img),
:global(.product-large-image-vertical img) {
  width: 100%;
}

:global(.product-large-image-single-slider img) {
  width: 100%;
  border: 1px solid #eee;
  position: relative;
}

:global(.product-large-image-single-slider:hover .gallery-nav) {
  visibility: visible;
  opacity: 1;
}

:global(.product-image-thumb) {
  position: relative;
}

:global(.product-image-thumb img) {
  border: 1px solid #eee;
}

:global(.product-image-thumb.product-image-thumb-horizontal) {
  margin-top: 15px;
  margin-left: 60px;
  margin-right: 60px;
}

:global(.product-image-thumb.product-image-thumb-horizontal .slick-list) {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

:global(.product-image-thumb.product-image-thumb-horizontal .slick-slide) {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

:global(.product-image-thumb:hover .gallery-nav) {
  visibility: visible;
  opacity: 1;
}

:global(.gallery-nav) {
  z-index: 9;
  width: 30px;
  height: 30px;
  background: #e9ecef;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

:global(.gallery-nav:hover) {
  background: #ea1c26;
  color: #fff;
}

:global(.gallery-nav-horizontal) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

:global(.gallery-nav-horizontal-left) {
  left: 0;
}

:global(.gallery-nav-horizontal-right) {
  right: 0;
}
