:global(.section-content-gap) {
  margin-bottom: 50px;
}

:global(.section-title) {
  font-size: 26px;
  font-weight: 700;
  position: relative;
  margin-top: -7px;
}

@media (min-width: 768px) {
  :global(.section-title) {
    font-size: 30px;
  }
}

:global(.section-title::after) {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  background: #ea1c26;
  left: 0;
  bottom: -15px;
}

:global(.default-slider-arrow) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  border-radius: 50%;
  color: #ea1c26;
  z-index: 9;
  font-size: 40px;
  background: transparent;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

:global(.product-default-slider) {
  position: relative;
}

:global(.default-slider-arrow--left) {
  left: calc(0% + 15px);
}

:global(.default-slider-arrow--right) {
  right: calc(0% + 15px);
}

:global(.product-default-slider:hover .default-slider-arrow) {
  visibility: visible;
  opacity: 1;
}

:global(.product-default-slider:hover .default-slider-arrow--left) {
  left: 0;
}

:global(.product-default-slider:hover .default-slider-arrow--right) {
  right: 0;
}
