@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/effect-fade";
@import "../styles/swiper-template-overrides.css";

:root {
    --aments-color-000: #000;
    --aments-color-007bb6: #007bb6;
    --aments-color-00f: #00f;
    --aments-color-04414d: #04414d;
    --aments-color-055160: #055160;
    --aments-color-06357a: #06357a;
    --aments-color-084298: #084298;
    --aments-color-0a53be: #0a53be;
    --aments-color-0a58ca: #0a58ca;
    --aments-color-0b5ed7: #0b5ed7;
    --aments-color-0c4128: #0c4128;
    --aments-color-0c63e4: #0c63e4;
    --aments-color-0d6efd: #0d6efd;
    --aments-color-0dcaf0: #0dcaf0;
    --aments-color-0f5132: #0f5132;
    --aments-color-101214: #101214;
    --aments-color-13653f: #13653f;
    --aments-color-141619: #141619;
    --aments-color-146c43: #146c43;
    --aments-color-157347: #157347;
    --aments-color-198754: #198754;
    --aments-color-1a1e21: #1a1e21;
    --aments-color-1da1f2: #1da1f2;
    --aments-color-1e2125: #1e2125;
    --aments-color-212529: #212529;
    --aments-color-222: #222;
    --aments-color-25cff2: #25cff2;
    --aments-color-2c3034: #2c3034;
    --aments-color-31d2f2: #31d2f2;
    --aments-color-323539: #323539;
    --aments-color-333: #333;
    --aments-color-343434: #343434;
    --aments-color-34383c: #34383c;
    --aments-color-343a40: #343a40;
    --aments-color-373b3e: #373b3e;
    --aments-color-3dd5f3: #3dd5f3;
    --aments-color-41464b: #41464b;
    --aments-color-424649: #424649;
    --aments-color-454545: #454545;
    --aments-color-4867aa: #4867aa;
    --aments-color-495057: #495057;
    --aments-color-4d5154: #4d5154;
    --aments-color-4e4e4e: #4e4e4e;
    --aments-color-4f5050: #4f5050;
    --aments-color-51585e: #51585e;
    --aments-color-523e02: #523e02;
    --aments-color-565e64: #565e64;
    --aments-color-5c636a: #5c636a;
    --aments-color-626262: #626262;
    --aments-color-636464: #636464;
    --aments-color-664d03: #664d03;
    --aments-color-666: #666;
    --aments-color-6a1a21: #6a1a21;
    --aments-color-6c757d: #6c757d;
    --aments-color-842029: #842029;
    --aments-color-86b7fe: #86b7fe;
    --aments-color-8a8a8a: #8a8a8a;
    --aments-color-90ee90: #90ee90;
    --aments-color-939292: #939292;
    --aments-color-a52834: #a52834;
    --aments-color-adb5bd: #adb5bd;
    --aments-color-add8e6: #add8e6;
    --aments-color-b02a37: #b02a37;
    --aments-color-b23a94: #b23a94;
    --aments-color-b6d4fe: #b6d4fe;
    --aments-color-b6effb: #b6effb;
    --aments-color-babbbc: #babbbc;
    --aments-color-bacbe6: #bacbe6;
    --aments-color-badbcc: #badbcc;
    --aments-color-badce3: #badce3;
    --aments-color-bb2d3b: #bb2d3b;
    --aments-color-bbb: #bbb;
    --aments-color-bcbebf: #bcbebf;
    --aments-color-bcd0c7: #bcd0c7;
    --aments-color-bd081b: #bd081b;
    --aments-color-bebebf: #bebebf;
    --aments-color-bfd1ec: #bfd1ec;
    --aments-color-bfe2e9: #bfe2e9;
    --aments-color-c1d6cc: #c1d6cc;
    --aments-color-c5d7f2: #c5d7f2;
    --aments-color-c5e8ef: #c5e8ef;
    --aments-color-c6c7c8: #c6c7c8;
    --aments-color-c7dbd2: #c7dbd2;
    --aments-color-cbccce: #cbccce;
    --aments-color-ced4da: #ced4da;
    --aments-color-cfe2ff: #cfe2ff;
    --aments-color-cff4fc: #cff4fc;
    --aments-color-d1d2d4: #d1d2d4;
    --aments-color-d1e7dd: #d1e7dd;
    --aments-color-d3d3d4: #d3d3d4;
    --aments-color-d3d4d5: #d3d4d5;
    --aments-color-d3d6d8: #d3d6d8;
    --aments-color-d7d8da: #d7d8da;
    --aments-color-dc3545: #dc3545;
    --aments-color-dd5144: #dd5144;
    --aments-color-ddd: #ddd;
    --aments-color-dde0e3: #dde0e3;
    --aments-color-dee2e6: #dee2e6;
    --aments-color-dfc2c4: #dfc2c4;
    --aments-color-dfe0e1: #dfe0e1;
    --aments-color-e1e1e1: #e1e1e1;
    --aments-color-e2e3e5: #e2e3e5;
    --aments-color-e5c7ca: #e5c7ca;
    --aments-color-e5e5e5: #e5e5e5;
    --aments-color-e5e6e7: #e5e6e7;
    --aments-color-e6dbb9: #e6dbb9;
    --aments-color-e7f1ff: #e7f1ff;
    --aments-color-e9ecef: #e9ecef;
    --aments-color-ea1c26: #ea1c26;
    --aments-color-eccccf: #eccccf;
    --aments-color-ece1be: #ece1be;
    --aments-color-ecedee: #ecedee;
    --aments-color-ed3e47: #ed3e47;
    --aments-color-ededed: #ededed;
    --aments-color-eee: #eee;
    --aments-color-f0f0f0: #f0f0f0;
    --aments-color-f1f1f1: #f1f1f1;
    --aments-color-f2e7c3: #f2e7c3;
    --aments-color-f2f2f2: #f2f2f2;
    --aments-color-f5c2c7: #f5c2c7;
    --aments-color-f6f6f6: #f6f6f6;
    --aments-color-f7f6f7: #f7f6f7;
    --aments-color-f8d7da: #f8d7da;
    --aments-color-f8f9fa: #f8f9fa;
    --aments-color-f9fafb: #f9fafb;
    --aments-color-fdb813: #fdb813;
    --aments-color-fdfdfe: #fdfdfe;
    --aments-color-fe0000: #fe0000;
    --aments-color-fefefe: #fefefe;
    --aments-color-ffc107: #ffc107;
    --aments-color-ffc720: #ffc720;
    --aments-color-ffca2c: #ffca2c;
    --aments-color-ffcd39: #ffcd39;
    --aments-color-ffecb5: #ffecb5;
    --aments-color-fff: #fff;
    --aments-color-fff3cd: #fff3cd;
    --aments-color-primary: var(--aments-color-ea1c26);
    --aments-color-text: var(--aments-color-333);
    --aments-color-bg: var(--aments-color-fff);
}
