.compare-table .table tbody tr td.first-column{
    min-width: 180px;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    line-height: 1
}
.compare-table .table tbody tr td{
    text-align: center;
    border: none;
    padding: 25px 30px;
    vertical-align: middle;
    border-bottom: 1px solid var(--aments-color-eee);
    border-left: 1px solid var(--aments-color-eee)
}
.compare-table .table tbody tr td.product-image-title{
    min-width: 305px;
    vertical-align: bottom
}
.compare-table .table tbody tr td.product-image-title .image{
    clear: both;
    width: 100%;
    margin-bottom: 40px
}
.compare-table .table tbody tr td.product-image-title .image img{
    max-width: 100%
}
.compare-table .table tbody tr td.product-image-title .category{
    clear: both;
    color: var(--aments-color-333);
    float: left;
    font-size: 13px;
    letter-spacing: .5px;
    line-height: 15px;
    margin-bottom: 7px;
    margin-top: 15px;
    text-transform: capitalize
}
.compare-table .table tbody tr td.product-image-title .title{
    float: left;
    clear: both;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px
}
.compare-table .table tbody tr td.pro-desc p{
    text-align: left;
    margin: 0
}
.compare-table .table tbody tr td.pro-price{
    font-size: 15px;
    font-weight: 600
}
.compare-table .table tbody tr td.pro-color{
    font-size: 15px;
    font-weight: 600
}
.compare-table .table tbody tr td.pro-addtocart .add-to-cart{
    position: relative;
    background: var(--aments-color-ea1c26);
    border-radius: 4px;
    display: inline-block;
    width: 170px;
    padding: 10px 6px;
    -webkit-transition: all .7s;
    transition: all .7s;
    color: var(--aments-color-fff)
}
.compare-table .table tbody tr td.pro-addtocart .add-to-cart:hover{
    background: var(--aments-color-333)
}
.compare-table .table tbody tr td.pro-addtocart .add-to-cart span{
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 21px;
    overflow: hidden;
    display: block;
    text-align: center
}
.compare-table .table tbody tr td.pro-addtocart .add-to-cart.pro-stock{
    font-size: 15px;
    font-weight: 600
}
.compare-table .table tbody tr td.pro-addtocart .add-to-cart .pro-remove button{
    border: none;
    background-color: transparent;
    padding: 0
}
