.hero-area-single{
    position: relative
}
.hero-area-wrapper .hero-area-single.slick-active .h5, .hero-area-wrapper .hero-area-single.slick-active h5{
    -webkit-animation: fadeInLeft 1s ease 0s 1 backwards;
    animation: fadeInLeft 1s ease 0s 1 backwards
}
.hero-area-wrapper .hero-area-single.slick-active .h2, .hero-area-wrapper .hero-area-single.slick-active h2{
    -webkit-animation: fadeInLeft 1s ease .3s 1 backwards;
    animation: fadeInLeft 1s ease .3s 1 backwards
}
.hero-area-wrapper .hero-area-single.slick-active p{
    -webkit-animation: fadeInLeft 1s ease .5s 1 backwards;
    animation: fadeInLeft 1s ease .5s 1 backwards
}
.hero-area-wrapper .hero-area-single.slick-active .hero-button{
    -webkit-animation: fadeInLeft 1s ease .7s 1 backwards;
    animation: fadeInLeft 1s ease .7s 1 backwards
}
.product-catagory-wrapper{
    margin-bottom: 0
}
@media (min-width:576px){.product-catagory-wrapper{
        margin-bottom: -30px
    }}
@media (min-width:768px){.product-catagory-wrapper{
        margin-bottom: -30px
    }}
@media (min-width:992px){.product-catagory-wrapper{
        margin-bottom: -30px
    }}
.product-catagory-wrapper>.container>.row>.col-12{
    margin-bottom: 30px
}
.product-catagory-wrapper>.container>.row>.col-12:last-child{
    margin-bottom: 0
}
@media (min-width:576px){.product-catagory-wrapper>.container>.row>.col-12{
        margin-bottom: 30px
    }}
.product-catagory-single{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    border: 2px solid var(--aments-color-eee);
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}
.product-catagory-single:hover{
    border: 2px solid var(--aments-color-ea1c26)
}
.product-catagory-single:hover .product-catagory-title{
    color: var(--aments-color-ea1c26)
}
.product-catagory-img{
    display: block;
    width: 40%;
    overflow: hidden;
    margin-right: 5%
}
.product-catagory-img img{
    width: 100%;
    height: auto
}
.product-catagory-content{
    width: 55%
}
.product-catagory-title{
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: var(--aments-color-000);
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}
.product-catagory-items{
    font-size: 14px;
    color: var(--aments-color-000)
}
.company-logo-slider{
    overflow-x: hidden
}
.company-logo-slider .slick-list{
    margin-left: -15px;
    margin-right: -15px
}
.company-logo-slider .slick-list .slick-slide{
    margin-left: 15px;
    margin-right: 15px
}
.company-logo-slider{
    border-top: 1px solid var(--aments-color-ddd);
    border-bottom: 1px solid var(--aments-color-ddd);
    padding-top: 40px;
    padding-bottom: 40px
}
.company-logo-single{
    cursor: pointer;
    opacity: .3;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}
.company-logo-single:hover{
    opacity: 1
}
.blog-feed-wrapper{
    margin-bottom: -30px
}
@media (min-width:576px){.blog-feed-wrapper{
        margin-bottom: -30px
    }}
@media (min-width:992px){.blog-feed-wrapper{
        margin-bottom: -30px
    }}
.blog-feed-wrapper>.container>.row>.col-12{
    margin-bottom: 30px
}
@media (min-width:768px){.blog-feed-wrapper>.container>.row>.col-12{
        margin-bottom: 30px
    }}
.blog-feed-single{
    background-color: var(--aments-color-f6f6f6);
    height: 100%
}
.blog-feed-content{
    background: var(--aments-color-f6f6f6);
    padding: 25px 30px 25px 30px
}
.blog-feed-img-link{
    overflow: hidden;
    display: block
}
.blog-feed-img{
    width: 100%;
    height: 290px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}
.blog-feed-post-meta{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: var(--aments-color-000);
    margin-bottom: 20px
}
.blog-feed-link, .blog-feed-post-meta-author, .blog-feed-post-meta-date{
    font-weight: 400;
    color: var(--aments-color-626262);
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}
.blog-feed-link:hover, .blog-feed-post-meta-author:hover, .blog-feed-post-meta-date:hover{
    color: var(--aments-color-ea1c26)
}
.blog-feed-link a{
    font-size: 20px;
    margin-top: -5px;
    font-weight: 600;
    display: block;
    color: var(--aments-color-343434);
    font-family: Raleway, sans-serif;
    line-height: 1.6
}
.blog-feed-link a:hover{
    color: var(--aments-color-ea1c26)
}
.product-details-content-tab-btn, .product-tab-btn, .sort-tab-btn{
    margin-top: 30px
}
@media (min-width:768px){.product-details-content-tab-btn, .product-tab-btn, .sort-tab-btn{
        margin-top: 0
    }}
.product-details-content-tab-btn>li, .product-tab-btn>li, .sort-tab-btn>li{
    margin-right: 40px
}
.product-details-content-tab-btn>li:last-child, .product-tab-btn>li:last-child, .sort-tab-btn>li:last-child{
    margin-right: 0
}
.product-details-content-tab-btn>li>.nav-link, .product-tab-btn>li>.nav-link, .sort-tab-btn>li>.nav-link{
    color: var(--aments-color-666) !important;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    font-weight: 500;
    padding: 0;
    margin-top: 10px
}
@media (min-width:768px){.product-details-content-tab-btn>li>.nav-link, .product-tab-btn>li>.nav-link, .sort-tab-btn>li>.nav-link{
        margin-top: 0
    }}
.product-details-content-tab-btn>li>.nav-link.active, .product-details-content-tab-btn>li>.nav-link:hover, .product-tab-btn>li>.nav-link.active, .product-tab-btn>li>.nav-link:hover, .sort-tab-btn>li>.nav-link.active, .sort-tab-btn>li>.nav-link:hover{
    color: var(--aments-color-ea1c26) !important;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}
.product-details-content-tab-btn>li>.nav-link.active img, .product-details-content-tab-btn>li>.nav-link:hover img, .product-tab-btn>li>.nav-link.active img, .product-tab-btn>li>.nav-link:hover img, .sort-tab-btn>li>.nav-link.active img, .sort-tab-btn>li>.nav-link:hover img{
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    -webkit-filter: invert(100%);
    filter: invert(100%)
}
.product-tab-btn{
    margin-top: 35px;
    margin-bottom: -20px;
    font-size: 16px
}
.product-tab-btn>li>.nav-link{
    margin-top: 0
}
@media (min-width:768px){.product-tab-btn{
        margin-top: 0;
        margin-bottom: 0
    }}
