.product-default-single{
    padding: 0 30px 30px 30px
}
.product-default-content{
    border-top: 2px solid var(--aments-color-eee);
    padding-top: 25px
}
.product-default-img{
    display: block;
    min-height: 273px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}
.product-default-link a{
    display: block;
    color: var(--aments-color-000);
    margin-bottom: 15px;
    line-height: 1.625;
    font-size: 16px
}
.product-default-link a:hover{
    color: var(--aments-color-ea1c26)
}
.product-default-price{
    display: block;
    color: var(--aments-color-ea1c26);
    font-size: 16px
}
.product-default-price-off{
    color: var(--aments-color-8a8a8a)
}
.product-default-single:hover .product-action-icon-link li{
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}
.product-default-single:hover .product-action-icon-link li:nth-child(1){
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}
.product-default-single:hover .product-action-icon-link li:nth-child(2){
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}
.product-default-single:hover .product-action-icon-link li:nth-child(3){
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}
.product-default-single:hover .product-action-icon-link li:nth-child(4){
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}
.product-details-content-tab-btn{
    margin-top: 0
}
.product-details-content-tab-btn>li{
    margin-right: 0
}
.product-details-content-tab-btn>li a{
    margin-right: 40px
}
.product-details-content-tab-btn>li>.nav-link .h5, .product-details-content-tab-btn>li>.nav-link h5{
    color: var(--aments-color-333) !important;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    font-weight: 600;
    padding: 0;
    margin-top: 10px
}
@media (min-width:768px){.product-details-content-tab-btn>li>.nav-link .h5, .product-details-content-tab-btn>li>.nav-link h5{
        margin-top: 0
    }}
.product-details-content-tab-btn>li>.nav-link.active .h5, .product-details-content-tab-btn>li>.nav-link.active h5, .product-details-content-tab-btn>li>.nav-link:hover .h5, .product-details-content-tab-btn>li>.nav-link:hover h5{
    color: var(--aments-color-ea1c26) !important;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}
.product-details-content-tab-btn>li>.nav-link.active .h5 img, .product-details-content-tab-btn>li>.nav-link.active h5 img, .product-details-content-tab-btn>li>.nav-link:hover .h5 img, .product-details-content-tab-btn>li>.nav-link:hover h5 img{
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    -webkit-filter: invert(100%);
    filter: invert(100%)
}
.product-default-slider .slick-list{
    margin-left: -15px;
    margin-right: -15px
}
.product-default-slider .slick-list .slick-slide{
    margin-left: 15px;
    margin-right: 15px;
    overflow-x: hidden
}
@media (min-width:576px){.product-default-slider .slick-list .slick-slide{
        overflow-x: visible
    }}
.product-default-slider{
    position: relative
}
.product-default-slider:hover .default-slider-arrow{
    visibility: visible;
    opacity: 1
}
.product-default-slider:hover .default-slider-arrow--left{
    left: 0
}
.product-default-slider:hover .default-slider-arrow--right{
    right: 0
}
.product-details-text{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--aments-color-eee)
}
.product-details-text .title{
    text-transform: capitalize;
    line-height: 20px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 22px
}
.product-details-text .customer-review{
    margin-left: 15px
}
.product-details-text .price{
    display: block;
    font-size: 20px;
    color: var(--aments-color-ea1c26);
    margin: 10px 0
}
.product-details-text .price del{
    color: var(--aments-color-8a8a8a);
    padding-right: 15px
}
.product-details-content-area-sticky{
    position: sticky;
    top: 0
}
.product-details-meta ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.product-details-meta ul li{
    margin-right: 25px
}
.product-details-meta ul li:last-child{
    margin-right: 0
}
.product-details-meta ul li a i{
    padding-right: 5px
}
.product-details-social ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.product-details-social ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: warp;
    flex-wrap: warp;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px
}
.product-details-social ul li{
    margin-right: 7px
}
.product-details-social ul li:last-child{
    margin-right: 0
}
.product-details-social ul li a{
    color: var(--aments-color-fff);
    line-height: 24px;
    padding: 0 6px;
    border-radius: 3px;
    text-transform: capitalize;
    display: inline-block
}
.product-details-social ul li a:hover{
    opacity: .7
}
.product-details-social ul li a i{
    padding-right: 5px;
    display: inline
}
.product-details-gallery-area{
    margin-bottom: 60px
}
.product-large-image-single-slider:hover .gallery-nav{
    visibility: visible;
    opacity: 1
}
.product-image-thumb:hover .gallery-nav{
    visibility: visible;
    opacity: 1
}
.gallery-nav{
    z-index: 9;
    width: 30px;
    height: 30px;
    background: var(--aments-color-e9ecef);
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}
.gallery-nav:hover{
    background: var(--aments-color-ea1c26);
    color: var(--aments-color-fff)
}
.gallery-nav-horizontal{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.gallery-nav-vertical{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.gallery-nav-horizontal-left{
    left: 0
}
.gallery-nav-horizontal-right{
    right: 0
}
.gallery-nav-vertical-up{
    top: 0
}
.gallery-nav-vertical-down{
    bottom: 0
}
.product-details-variable .title{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 25px
}
.product-details-content-tab-wrapper{
    background: var(--aments-color-fff);
    padding: 0 30px
}
.product-details-content-tab-btn{
    padding: 25px 0;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid var(--aments-color-ddd)
}
.product-details-content-tab{
    padding: 40px 0
}
.product-image-thumb:hover .gallery-nav{
    visibility: visible;
    opacity: 1
}
