.sidebar-single-widget{
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 37px;
    border-bottom: 2px solid var(--aments-color-f8f9fa)
}
.sidebar-single-widget:first-child{
    margin-top: 0
}
.sidebar-single-widget:last-child{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0
}
.sidebar-title{
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 600
}
.sidebar-banner{
    margin: 0 auto;
    display: block
}
