:global(.default-form-box) label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

:global(.default-form-box) label span {
  color: #ea1c26;
  font-size: 16px;
}

:global(.default-form-box) input[type="date"],
:global(.default-form-box) input[type="email"],
:global(.default-form-box) input[type="number"],
:global(.default-form-box) input[type="password"],
:global(.default-form-box) input[type="text"],
:global(.default-form-box) textarea {
  border: 1px solid #eee;
  border-radius: 3px;
  background: transparent;
  height: 40px;
  width: 100%;
  padding: 0 20px;
  color: #666;
  outline: 0;
}

:global(.default-form-box) input[type="date"]::placeholder,
:global(.default-form-box) input[type="email"]::placeholder,
:global(.default-form-box) input[type="number"]::placeholder,
:global(.default-form-box) input[type="password"]::placeholder,
:global(.default-form-box) input[type="text"]::placeholder,
:global(.default-form-box) textarea::placeholder {
  font-size: 14px;
}

:global(.default-form-box) input[type="date"]:focus,
:global(.default-form-box) input[type="email"]:focus,
:global(.default-form-box) input[type="number"]:focus,
:global(.default-form-box) input[type="password"]:focus,
:global(.default-form-box) input[type="text"]:focus,
:global(.default-form-box) textarea:focus {
  border-color: #ea1c26;
}

:global(.default-form-box) textarea {
  height: 200px;
  padding: 20px;
}

:global(.default-search-style) {
  position: relative;
}

:global(.default-search-style-input-box) {
  padding: 10px 90px 10px 20px;
  border-radius: 5px;
  font-size: 13px;
  box-shadow: none;
  outline: 0;
}

:global(.default-search-style-input-btn) {
  padding: 10px 25px;
  background-color: #ea1c26;
  border-radius: 0 5px 5px 0;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s ease 0s;
  line-height: 1.6;
  position: absolute;
  top: 50%;
  right: 0;
  height: 100%;
  transform: translateY(-50%);
}

:global(.default-search-style-input-btn):hover {
  border-color: #333;
  background: #333;
}

:global(.default-search-style-input-btn) i {
  color: #fff;
  font-size: 18px;
}

:global(.mobile-search-style-input-box) {
  padding: 7px 12px;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  box-shadow: none;
  outline: 0;
}

:global(.mobile-search-style-input-btn) {
  padding: 7px 12px;
  background-color: #ea1c26;
  border-radius: 0 5px 5px 0;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

:global(.mobile-search-style-input-btn):hover {
  background: #666;
}

:global(.mobile-search-style-input-btn) i {
  color: #fff;
  font-size: 18px;
}

:global(.checkbox-default) {
  line-height: 1;
}

:global(.checkbox-default) > span {
  display: inline-block;
  transform: translateX(35px);
  text-transform: capitalize;
  color: #666 !important;
  font-size: 14px;
  cursor: pointer;
}

:global(.checkbox-default) input {
  appearance: none;
  position: relative;
  line-height: 0;
}

:global(.checkbox-default) input::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #dee2e6;
  line-height: 20px;
  text-align: center;
}

:global(.checkbox-default) input:checked::after {
  position: absolute;
  content: "";
  background: #ea1c26;
  border-color: #ea1c26;
  font-family: FontAwesome;
  color: #fff;
}

:global(.checkbox-default-more-text) em {
  margin-top: 16px;
  display: block;
}

:global(.subscribe-form) {
  padding: 10px 150px 11px 20px;
  box-shadow: none;
  outline: 0;
}

:global(.account_login_form) form span input[type="checkbox"],
:global(.input-radio) span input[type="radio"] {
  width: 15px;
  height: 15px;
  margin-right: 2px;
  position: relative;
  top: 2px;
}

:global(.account_login_form) form .save_button button {
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 4px;
  margin-top: 10px;
}

:global(.account_login_form) form .save_button button:hover {
  background: #ea1c26;
}

:global(.form-control) {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  :global(.form-control) {
    transition: none;
  }
}

:global(.form-control):focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

:global(.form-control)::placeholder {
  color: #6c757d;
  opacity: 1;
}

:global(.form-control):disabled {
  background-color: #e9ecef;
  opacity: 1;
}

:global(.form-select) {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
}

@media (prefers-reduced-motion: reduce) {
  :global(.form-select) {
    transition: none;
  }
}

:global(.form-select):focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

:global(.form-select):disabled {
  background-color: #e9ecef;
}

:global(.form-check) {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}

:global(.form-check) :global(.form-check-input) {
  float: left;
  margin-left: -1.5em;
}

:global(.form-check-input) {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  appearance: none;
  print-color-adjust: exact;
}

:global(.form-check-input)[type="checkbox"] {
  border-radius: 0.25em;
}

:global(.form-check-input)[type="radio"] {
  border-radius: 50%;
}

:global(.form-check-input):active {
  filter: brightness(90%);
}

:global(.form-check-input):focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

:global(.form-check-input):checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

:global(.form-check-input):checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

:global(.form-check-input):checked[type="radio"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

:global(.form-check-input):disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}

:global(.form-check-input):disabled ~ :global(.form-check-label),
:global(.form-check-input)[disabled] ~ :global(.form-check-label) {
  cursor: default;
  opacity: 0.5;
}

:global(.form-switch) {
  padding-left: 2.5em;
}

:global(.form-switch) :global(.form-check-input) {
  width: 2em;
  margin-left: -2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  :global(.form-switch) :global(.form-check-input) {
    transition: none;
  }
}

:global(.form-switch) :global(.form-check-input):checked {
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

:global(.input-group) {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

:global(.input-group) > :global(.form-control),
:global(.input-group) > :global(.form-select) {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

:global(.input-group) > :not(:first-child):not(.dropdown-menu) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

:global(.input-group) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
