.offcanvas{
  z-index:999999;
  position:fixed;
  top:0;
  overflow:auto;
  height:100vh;
  padding:20px;
  -webkit-transition:all .3s ease 0s;
  transition:all .3s ease 0s;
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  -webkit-box-shadow:none;
  box-shadow:none;
  background:#fff;
  width:300px;
  overflow-x:hidden;
  visibility:visible
}

@media (min-width:576px){
  .offcanvas{
    width:400px
  }
}

.offcanvas-leftside{
  left:0;
  -webkit-transform:translateX(-100%);
  transform:translateX(-100%)
}

.offcanvas.offcanvas-open{
  -webkit-transform:translateX(0);
  transform:translateX(0)
}

.offcanvas-header{
  margin-bottom:30px
}

.offcanvas-close{
  width:40px;
  height:40px;
  line-height:38px;
  text-align:center;
  border:1px solid #666;
  border-radius:50%;
  -webkit-transition:all .3s ease 0s;
  transition:all .3s ease 0s
}

.offcanvas-close:hover{
  color:#ea1c26;
  border-color:#ea1c26
}

.mobile-menu-top{
  font-size:13px;
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  text-align:center
}

.mobile-menu-user-menu{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:end;
  -ms-flex-pack:end;
  justify-content:flex-end;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center
}

.mobile-menu-user-menu>li{
  margin-right:40px;
  position:relative
}

.mobile-menu-user-menu>li:last-child{
  margin-right:0
}

.mobile-menu-user-menu>li::after{
  position:absolute;
  content:"|";
  top:50%;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
  right:calc(0% - 20px)
}

.mobile-menu-user-menu>li:last-child::after{
  display:none
}

.mobile-menu-user-menu>li>a{
  display:inline-block;
  line-height:46px;
  color:#666 !important
}

.mobile-menu-user-menu>li>a:hover{
  color:#ea1c26
}

.has-mobile-user-dropdown{
  position:relative;
  padding-right:15px
}

.has-mobile-user-dropdown>a{
  display:inline-flex;
  align-items:center;
  gap:6px
}

.mobile-user-sub-menu{
  position:absolute;
  top:calc(100%);
  left:50%;
  -webkit-transform:translate(-50%,-30px);
  transform:translate(-50%,-30px);
  padding:10px 15px;
  width:160px;
  background:#fff;
  -webkit-box-shadow:0 0 5px rgba(0,0,0,.2);
  box-shadow:0 0 5px rgba(0,0,0,.2);
  border-radius:3px;
  -webkit-transition:all .3s ease 0s;
  transition:all .3s ease 0s;
  visibility:hidden;
  opacity:0;
  z-index:99
}

.mobile-user-sub-menu>li{
  display:block;
  border-bottom:1px solid #eee;
  padding:5px 0
}

.mobile-user-sub-menu>li:last-child{
  border-bottom:none
}

.mobile-user-sub-menu>li>a{
  position:relative;
  color:#666;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}

.mobile-user-sub-menu>li>a:hover{
  color:#ea1c26
}

.user-sub-menu-link-icon{
  padding-right:5px
}

.has-mobile-user-dropdown:hover .mobile-user-sub-menu{
  visibility:visible;
  opacity:1;
  -webkit-transform:translate(-50%,0);
  transform:translate(-50%,0)
}

.mobile-menu-customer-support{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  font-family:Raleway,sans-serif
}

.mobile-menu-customer-support-icon{
  max-width:50px;
  overflow:hidden;
  margin-right:30px
}

.mobile-menu-customer-support-icon img{
  width:100%
}

.mobile-menu-customer-support-text-phone{
  display:block;
  font-size:18px;
  font-weight:700;
  color:#000;
  -webkit-transition:all .3s ease 0s;
  transition:all .3s ease 0s
}

.mobile-menu-customer-support-text-phone:hover{
  color:#ea1c26
}

.mobile-menu-customer-support-text{
  font-size:14px;
  margin:20px 0
}

.mobile-action-icon{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center
}

.mobile-action-icon-item{
  margin-right:40px
}

.mobile-action-icon-item:last-child{
  margin-right:0
}

.mobile-action-icon-link{
  position:relative;
  font-size:27px;
  color:#333;
  -webkit-transition:all .3s ease 0s;
  transition:all .3s ease 0s
}

.mobile-action-icon-link:hover{
  color:#ea1c26
}

.mobile-action-icon-item-count{
  position:absolute;
  top:0;
  right:calc(0% - 10px);
  font-size:11px;
  display:inline-block;
  background:#333;
  color:#fff;
  text-align:center;
  line-height:20px;
  border-radius:50%;
  width:20px;
  height:20px;
  -webkit-transition:all .3s ease 0s;
  transition:all .3s ease 0s
}

.mobile-action-icon-link:hover .mobile-action-icon-item-count{
  background:#ea1c26
}

.offcanvas-menu{
  margin:20px 0
}

.offcanvas-menu li{
  position:relative;
  padding:5px 5px
}

.offcanvas-menu>ul>li{
  border-bottom:1px solid transparent
}

.offcanvas-menu>ul>li:last-child{
  border-bottom:none
}

.offcanvas-menu li a{
  display:block;
  color:#666;
  text-decoration:none
}

.offcanvas-menu li a:hover{
  color:#ea1c26
}

.offcanvas-menu li .mobile-sub-menu{
  display:none
}

.offcanvas-menu li.active>.mobile-sub-menu{
  display:block
}

.offcanvas-menu-expand{
  position:absolute;
  top:0;
  right:0;
  width:40px;
  height:40px;
  background:transparent;
  border:0;
  padding:0;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  color:#666
}

.offcanvas-menu li.active>.offcanvas-menu-expand{
  color:#ea1c26
}

.mobile-menu-email{
  color:#666;
  text-align:center;
  display:block
}

.mobile-menu-email:hover{
  color:#ea1c26
}

.mobile-menu-social{
  margin-top:25px;
  text-align:center
}

.mobile-menu-social>li{
  display:inline-block;
  margin-right:13px
}

.mobile-menu-social>li:last-child{
  margin-right:0
}

.mobile-menu-social>li>a{
  display:inline-block;
  font-size:14px;
  padding:0;
  line-height:30px;
  width:30px;
  height:30px;
  border-radius:100%;
  text-align:center;
  color:#fff !important
}

.mobile-menu-social>li>a:hover{
  opacity:.7
}

.mobile-menu-social>li>a.facebook{
  background:#4867aa
}

.mobile-menu-social>li>a.twitter{
  background:#1da1f2
}

.mobile-menu-social>li>a.youtube{
  background:#fe0000
}

.mobile-menu-social>li>a.pinterest{
  background:#bd081b
}

.mobile-menu-social>li>a.instagram{
  background:#b23a94
}
