.wrapper {
  background: #fff;
  padding: 0 30px;
}

.tabBtn {
  padding: 25px 0;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  margin-top: 0;
}

.tabBtn > li {
  margin-right: 0;
}

.tabBtn > li a {
  margin-right: 40px;
}

.tabLink {
  color: #333 !important;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  padding: 0;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .tabLink {
    margin-top: 0;
  }
}

.tabLink:hover,
.activeTabLink {
  color: #ea1c26 !important;
  transition: all 0.3s ease 0s;
}

.tabContent {
  padding: 40px 0;
}

.tabPane {
  display: block;
  height: 0;
  max-width: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}

.tabPane.active {
  height: auto;
  visibility: visible;
  opacity: 1;
  overflow: visible;
}

.commentList {
  border-bottom: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 15px;
}

.commentList:first-child {
  padding-top: 0;
}

.commentList:last-child {
  border: none;
  padding-bottom: 0;
}

.commentReply {
  margin-left: 0;
}

@media (min-width: 768px) {
  .commentReply {
    margin-left: 100px;
  }
}

.commentReply li {
  border-top: 1px solid #eee;
  padding-top: 23px;
  margin-top: 0;
}

.commentWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

@media (min-width: 576px) {
  .commentWrapper {
    flex-direction: row;
  }
}

.commentImg {
  margin-right: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.commentImg img {
  width: 78px;
  height: 78px;
  border-radius: 5px;
}

.commentContentTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.commentName {
  font-weight: 600;
  margin-right: 10px;
}

.reviewFill {
  color: #fdb813;
}

.reviewEmpty {
  color: #eee;
}

.reviewFormTextTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 35px;
}

@media (min-width: 992px) {
  .reviewFormTextTop {
    flex-direction: row;
    align-items: center;
  }
}

.reviewFormTextTop h5 {
  font-size: 16px;
  font-weight: 700;
}

.defaultFormBox label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.defaultFormBox label span {
  color: #ea1c26;
  font-size: 16px;
}

.defaultFormBox input[type="date"],
.defaultFormBox input[type="email"],
.defaultFormBox input[type="number"],
.defaultFormBox input[type="password"],
.defaultFormBox input[type="text"],
.defaultFormBox textarea {
  border: 1px solid #eee;
  border-radius: 3px;
  background: transparent;
  height: 40px;
  width: 100%;
  padding: 0 20px;
  color: #666;
  outline: 0;
}

.defaultFormBox input[type="date"]::placeholder,
.defaultFormBox input[type="email"]::placeholder,
.defaultFormBox input[type="number"]::placeholder,
.defaultFormBox input[type="password"]::placeholder,
.defaultFormBox input[type="text"]::placeholder,
.defaultFormBox textarea::placeholder {
  font-size: 14px;
}

.defaultFormBox input[type="date"]:focus,
.defaultFormBox input[type="email"]:focus,
.defaultFormBox input[type="number"]:focus,
.defaultFormBox input[type="password"]:focus,
.defaultFormBox input[type="text"]:focus,
.defaultFormBox textarea:focus {
  border-color: #ea1c26;
}

.defaultFormBox textarea {
  height: 200px;
  padding: 20px;
}

.formSubmitBtn {
  border: none;
  background: #333;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  padding: 10px 20px;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.formSubmitBtn:hover {
  background: #ea1c26;
}

