.scope{}
:global(.product-default-single){padding:0 30px 30px 30px}
:global(.product-default-content){border-top:2px solid var(--aments-color-eee);padding-top:25px}
:global(.product-default-img){display:block;min-height:273px;width:100%;-o-object-fit:cover;object-fit:cover}
:global(.product-default-link a){display:block;color:var(--aments-color-000);margin-bottom:15px;line-height:1.625;font-size:16px}
:global(.product-default-link a:hover){color:var(--aments-color-ea1c26)}
:global(.product-default-price){display:block;color:var(--aments-color-ea1c26);font-size:16px}
:global(.product-default-price-off){color:var(--aments-color-8a8a8a)}
:global(.product-default-single:hover .product-action-icon-link li){visibility:visible;opacity:1;-webkit-transform:scale(1);transform:scale(1)}
:global(.product-default-single:hover .product-action-icon-link li:nth-child(1)){-webkit-transition-delay:0s;transition-delay:0s}
:global(.product-default-single:hover .product-action-icon-link li:nth-child(2)){-webkit-transition-delay:.1s;transition-delay:.1s}
:global(.product-default-single:hover .product-action-icon-link li:nth-child(3)){-webkit-transition-delay:.2s;transition-delay:.2s}
:global(.product-default-single:hover .product-action-icon-link li:nth-child(4)){-webkit-transition-delay:.3s;transition-delay:.3s}
:global(.product-details-content-tab-btn){margin-top:0}
:global(.product-details-content-tab-btn>li){margin-right:0}
:global(.product-details-content-tab-btn>li a){margin-right:40px}
:global(.product-details-content-tab-btn>li>.nav-link .h5), :global(.product-details-content-tab-btn>li>.nav-link h5){color:var(--aments-color-333)!important;-webkit-transition:all .3s ease 0s;transition:all .3s ease 0s;font-weight:600;padding:0;margin-top:10px}
@media (min-width:768px){:global(.product-details-content-tab-btn>li>.nav-link .h5), :global(.product-details-content-tab-btn>li>.nav-link h5){margin-top:0}}
:global(.product-details-content-tab-btn>li>.nav-link.active .h5), :global(.product-details-content-tab-btn>li>.nav-link.active h5), :global(.product-details-content-tab-btn>li>.nav-link:hover .h5), :global(.product-details-content-tab-btn>li>.nav-link:hover h5){color:var(--aments-color-ea1c26)!important;-webkit-transition:all .3s ease 0s;transition:all .3s ease 0s}
:global(.product-details-content-tab-btn>li>.nav-link.active .h5 img), :global(.product-details-content-tab-btn>li>.nav-link.active h5 img), :global(.product-details-content-tab-btn>li>.nav-link:hover .h5 img), :global(.product-details-content-tab-btn>li>.nav-link:hover h5 img){-webkit-transition:all .3s ease 0s;transition:all .3s ease 0s;-webkit-filter:invert(100%);filter:invert(100%)}
:global(.product-default-slider .slick-list){margin-left:-15px;margin-right:-15px}
:global(.product-default-slider .slick-list .slick-slide){margin-left:15px;margin-right:15px;overflow-x:hidden}
@media (min-width:576px){:global(.product-default-slider .slick-list .slick-slide){overflow-x:visible}}
:global(.product-default-slider){position:relative}
:global(.product-default-slider:hover .default-slider-arrow){visibility:visible;opacity:1}
:global(.product-default-slider:hover .default-slider-arrow--left){left:0}
:global(.product-default-slider:hover .default-slider-arrow--right){right:0}
:global(.product-details-text){padding-bottom:10px;margin-bottom:20px;border-bottom:1px solid var(--aments-color-eee)}
:global(.product-details-text .title){text-transform:capitalize;line-height:20px;font-size:22px;font-weight:600;margin-bottom:22px}
:global(.product-details-text .customer-review){margin-left:15px}
:global(.product-details-text .price){display:block;font-size:20px;color:var(--aments-color-ea1c26);margin:10px 0}
:global(.product-details-text .price del){color:var(--aments-color-8a8a8a);padding-right:15px}
:global(.product-details-content-area-sticky){position:sticky;top:0}
:global(.product-details-meta ul){display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap}
:global(.product-details-meta ul li){margin-right:25px}
:global(.product-details-meta ul li:last-child){margin-right:0}
:global(.product-details-meta ul li a i){padding-right:5px}
:global(.product-details-social ul){display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
:global(.product-details-social ul){display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:warp;flex-wrap:warp;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:12px}
:global(.product-details-social ul li){margin-right:7px}
:global(.product-details-social ul li:last-child){margin-right:0}
:global(.product-details-social ul li a){color:var(--aments-color-fff);line-height:24px;padding:0 6px;border-radius:3px;text-transform:capitalize;display:inline-block}
:global(.product-details-social ul li a:hover){opacity:.7}
:global(.product-details-social ul li a i){padding-right:5px;display:inline}
:global(.product-details-gallery-area){margin-bottom:60px}
:global(.product-large-image-single-slider:hover .gallery-nav){visibility:visible;opacity:1}
:global(.product-image-thumb:hover .gallery-nav){visibility:visible;opacity:1}
:global(.gallery-nav){z-index:9;width:30px;height:30px;background:var(--aments-color-e9ecef);border-radius:3px;visibility:hidden;opacity:0;-webkit-transition:all .3s ease 0s;transition:all .3s ease 0s}
:global(.gallery-nav:hover){background:var(--aments-color-ea1c26);color:var(--aments-color-fff)}
:global(.gallery-nav-horizontal){position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
:global(.gallery-nav-vertical){position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}
:global(.gallery-nav-horizontal-left){left:0}
:global(.gallery-nav-horizontal-right){right:0}
:global(.gallery-nav-vertical-up){top:0}
:global(.gallery-nav-vertical-down){bottom:0}
:global(.product-details-variable .title){font-weight:600;text-transform:capitalize;font-size:18px;margin-bottom:25px}
:global(.product-details-content-tab-wrapper){background:var(--aments-color-fff);padding:0 30px}
:global(.product-details-content-tab-btn){padding:25px 0;font-size:20px;font-weight:600;border-bottom:1px solid var(--aments-color-ddd)}
:global(.product-details-content-tab){padding:40px 0}
:global(.product-image-thumb:hover .gallery-nav){visibility:visible;opacity:1}
