.root {
}

.tabList {
  margin-top: 35px;
  margin-bottom: -20px;
  font-size: 16px;
}

@media (min-width: 768px) {
  .tabList {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.tabItem {
  margin-right: 40px;
}

.tabItem:last-child {
  margin-right: 0;
}

.tabButton {
  color: var(--color-666);
  transition: all 0.3s ease 0s;
  font-weight: 500;
  padding: 0;
  margin-top: 0;
  background: transparent;
  border: 0;
}

.tabButton:hover {
  color: var(--color-ea1c26);
}

.tabButtonActive {
  color: var(--color-ea1c26);
}

.tabPane {
  display: block;
  height: 0;
  max-width: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}

.tabPaneActive {
  height: auto;
  visibility: visible;
  opacity: 1;
  overflow: visible;
}
